@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin padHeader{    
    padding: 15px 10rem;
}
@mixin padMain{
    padding: 3rem 10rem;
}